#project_navbar {
    margin-bottom: .5em;
}

.help-text {
    margin-bottom: 2em;
}

.help-text h5 {
    font-weight: bold;
}

.help-text h6 {
    font-style: italic;
    margin-top: 2em;
}

label {
    margin-top: .7em;
    margin-bottom: 0em;
}

.help-block {
    margin-top: 0em;
}

.bold {
    font-weight: bold;
}

.panel-group .panel {
    margin-bottom: 1.5em
}

.required-field {
    color: darkred;
    font-weight: bold;
    font-size: 1.2em;
    vertical-align: sub;
}

#nomination_message_alert {
    margin-top: 1.5em;
}

#id_scope {
    list-style: none;
    padding: 0;
}
