@charset "utf-8";
/* CSS Document */


/* HTML Elements */

html {
	background-color: #275179;

}
body {
	background-image:url(../images/bkg_body.jpg);
	background-repeat:repeat-x;
	background-color:#275179;
	padding-top:1em;
}

.alert {
	padding: 3%;
	border: 1px solid;
	color: #0c8000;
	font: 1.2em/1.3 Sans-serif;
}

optgroup {
	font-style:normal;
}

label {
	font-weight:bold;
	display:block;
	margin-top:1em;
}

h1, h2, h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing: .04em;
	font-weight:bold;
}

p {
	line-height:1.5em;
	padding-bottom:1.5em;
}

label.choice {
	color:#222222;
	line-height:1.5em;
	width:90%;
	font-weight:normal;
	margin-right:1em;
	display:inline;
}

#search-url-value {
	width:350px;
	padding:3px;
}


input[type=text],
select,
textarea {
 	width: 350px; 
 }

.selectauto {
        width: auto;
}

input[type=text] {
	padding: 3px;
}

/*  Layout */

#doc {
	/*border:1px solid #dbdbdb;*/
	margin-top:0;
	background-color:#FFFFFF;
	background-image:url(../images/hd_back2.jpg);
	background-repeat:no-repeat;
}


#hd {
	padding: 1em 25px 2em 25px;
	/*background-color:#FFFFFF;*/
	height:100px;
}

#hd h1{
	font-size: 135.5%;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	letter-spacing: .06em;
	color: #000000;
}

#bd {
	padding: 10px 25px;
}

/* Navigation */

a:link, a:visited {
    color: #036;
    text-decoration: none;
}

a:hover {
    color: #5b80b2;
}

a img {
    border: none;
}


#other-projects {
	position:relative;
	text-align:right;
	top:-1.5em;
}


#other-projects a {
	text-decoration:none;	
	color:#FFFFFF;
}

#other-projects a:hover {
	border-bottom: 1px solid #0000FF;
}

#navigation {
	padding-left: 0;
	/*margin:2em 0 0 0;*/
	position:relative;
	top:2em;
	padding:.75em 0 0 0;
	color: #000000;
	float: left;
	width: 100%;
	text-transform:capitalize;
	/*border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;*/
	/*background-image:url(nav_back.jpg);
	background-repeat:repeat-x;*/
}

#navigation li { 
	display: inline;
	margin:.5em 0;
}

#navigation li a{
	padding: .5em 1em;
	color: #FFFFFF;
	text-decoration: none;
	float: left;
}

#navigation li a:hover {
}

#gen-nom-stats {
    padding-top: 15px;
    text-align: right;
}

.gen-nom-stats-type {
   color:#275179;
}
/* Headings and Body */

form h2 {
	background-color: #000066;
	color:#FFFFFF;
	margin:1.5em 0 0 0;
	padding: 5px 10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	letter-spacing: .04em;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

h2.collapse-next {
	background-image:url(../images/resizers/wrapper-open.jpg);
	background-repeat:no-repeat;
	background-position:99%;
}

h2.closed {
	background-image:url(../images/resizers/wrapper-close.jpg);
	background-repeat:no-repeat;
	background-position:99%;
}

.edit-form .field-wrapper {
	border-top:none;
	margin-top:0;
	-moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
}

.edit-form #bd {
	margin-top:1em;
}

form div {
	color:#000000;
	padding: 25px;
	margin: 0;
}


span.required {
	color:#FF0000;
	font-weight:bold;
}

form div.element-wrapper {
	margin:0;
	padding:0;
	border:none;
	/*width: 350px;*/
}


.field-wrapper {
    margin:20px auto;
	padding:0;
	background-color: #fbfbfb;
	border: 1px solid #CCCCCC;
	padding:25px;
	background-image: url(../images/field_wrap_back.jpg);
	background-repeat:no-repeat;
	-moz-border-radius:4px;
        /*min-height:375px;*/
	/*background-position:610px 10px;*/
	/*position:relative;*/
}

.edit-form .field-wrapper h3 {
	margin-top: 1.5em;
}


.instruction {
	font-size: 77%;
	margin:0 0 1.5em 0;
	padding:0;
}

.browser-heading {
        font-family:Georgia, "Times New Roman", Times, serif;
        letter-spacing: .04em;
        font-weight:bold;
        font-size: 90%;
}

.browser-p {
        line-height:1.5em;
        padding-bottom:.5em;
        font-size: 90%;	
}

.browser-div {
	width:90%;
}

.helper-function {
	font-size:77%;
	text-align:right;
	position:relative;
	top:-20px;
	margin-bottom:-20px;	
}

form div.leading {
	margin-top: 1.5em;
}

.prettier-button {
	background-color:#FFFFFF;
	border: 1px solid #999999;
	padding:.25em .5em;
}

.nomination-message {
        color:#000066;
        font-size:large; 
}

/* Various Form styles, hiding elements, etc. */

#search-url-field {
	/*margin: 1em auto;*/
	padding-left:150px;
}

#search-url-field h2{
	margin-bottom:.5em;
}

#search-url-field label {
	position:absolute;
	left:-9999px;
	font-size:1px;
}

#search-url-field .instruction {
	margin-top:10px;

}

.browse {
	margin-top: 1em;
}


.about-details h2,
.browse h3 {
	font-variant:small-caps;
	font-size:131%;
	color:#275179;
	border-bottom:1px solid #275179;
}

.browse ul {
	padding-left: 0;
	margin:1em 0;
	color: #000000;
	width: 100%;
	font-size:85%;
	padding-bottom:1em;
	line-height:1.75em;
}

.browse li { 
	display: inline;
	margin:.5em .6em;
}

.browse li a{
	padding: .5em auto;
	color: #0000FF;
	text-decoration: none;
	width:100%;
}

.browse li a:hover {
	color: #FFF;
	background-color:#0066CC;
	border-bottom:1px solid #369;
}

.browse ul br {
	/*margin-bottom:1em;*/
}


#alphabetical-browse ul{
	text-align:center;
}
#alphabetical-browse .instruction {
	text-align:center;
}


#branch-browse {
	width:42%;
	float: left;
	margin-top:1em;
}

#domain-browse {
	width:42%;
	float: right;
	margin-top:1em;
}



#brief-instructions {
	border:1px solid #666666;
	color:#FFFFFF;
	background-color:#FFFFCC;
	padding: 1em;
	margin:1em 0;
}


#add-a-site {
	margin:1.5em 0 0 0;
}

#add-a-site a {
	text-decoration:none;
	font-size:116%;
	font-weight:bold;
}

#add-a-site a:hover {
	border-bottom: 1px solid #0000FF;
}

.data-exists {
	margin: .25em 0;
}


.submit-wrapper {
	text-align:right;
	padding-right:0;
}


/* Meta Fields Sidebar */

#meta-fields {
	background-color:#666666;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	width: 230px;
}

#your-info label {
	display:block;
	margin: 1em 0 0 0;
}

#your-info label.question {
	margin-left: 20px;
	display:inline;
}

/*  AutoComplete Styles */

.auto-complete {
	background-image:url(../images/autocomplete.png);
	background-repeat:no-repeat;
	background-position:98%;
}
.auto-complete:focus {
	background-image:url(../images/autocomplete-focus.png);
	background-repeat:no-repeat;
	background-position:98%;
}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	text-align:left;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
	color:#000000;
}

.ac_loading {
	background: white;
}

.ac_odd {
	background-color: #EEE;
	color:#000000;
}

.ac_over {
	background-color: #0A246A;
	color: white !important;
}


/* Tree View */

#browse-list {
	margin-top:1em;
}

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: #fbfbfb;
	margin-top: 4px;
}

.treeview div {
	margin:0;
	padding:0;
}

.treeview .hitarea {
	background: url(../images/treeview/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(../images/treeview/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../images/treeview/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(../images/treeview/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(../images/treeview/treeview-red.gif); } 

.treeview-black li { background-image: url(images/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(../images/treeview/treeview-black.gif); }  

.treeview-gray li { background-image: url(images/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../images/treeview/treeview-gray.gif); } 

.treeview-famfamfam li { background-image: url(images/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(../images/treeview/treeview-famfamfam.gif); } 


.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(../images/treeview/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(../images/treeview/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(../images/treeview/file.gif) 0 0 no-repeat; }


/* Tree enhancements */


#subject-wrapper {
	padding:0;
}

#subject-list li span:hover  {
	border-bottom: 1px dotted #999999;
}

.add-to-form, .remove-from-form {
	margin-left: 10px;
	padding-left: 18px;
	font-size: 85%;
	text-decoration:none;
}

#ft {
	padding:10px 25px 25px 25px;
	border-top: 1px solid #CCCCCC;
	background-image:url(../images/ft_back.jpg);
	background-repeat:no-repeat;
	color:#FFFFFF;
	height:94px;
	background-color:#275179;
}

#ft div {
	font-size:85%;
	padding-top:4px;
}

#ft a {
	color:#FFFFFF;
}


.about-project #yui-main {
	padding-top:1.5em;
}

#about-this-project h2{
	margin: 1.5em 0 0 0;
}

#about-this-project p {
	padding-right:1.5em;
}

#about-project-details {
	border: 1px solid #CCCCCC;
	margin:1em 0;
	padding:5px;
	background-color:#fbfbfb;
	font-size:85%;
}

.add-url {
	float:right;
	margin-top:0;
	position:relative;
	top:-5px;
}

/* DATE AND TIME */

.vDateField, .vTimeField {
    margin-right: 2px;
}

p.datetime {
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 11px;
    font-weight: bold;
}

.datetime span {
    font-size: 11px;
    color: #ccc;
    font-weight: normal;
    white-space: nowrap;
}

table p.datetime {
    font-size: 10px;
    margin-left: 0;
    padding-left: 0;
}

/* CALENDARS & CLOCKS */

.calendarbox, .clockbox {
    margin: 5px auto;
    font-size: 11px;
    width: 16em;
    text-align: center;
    background: white;
    position: relative;
}

.clockbox {
    width: auto;
}

.calendar {
    margin: 0;
    padding: 0;
}

.calendar table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    background: white;
    width: 99%;
}

.calendar caption, .calendarbox h2 {
    margin: 0;
    font-size: 11px;
    text-align: center;
    border-top: none;
}

.calendar th {
    font-size: 10px;
    color: #666;
    padding: 2px 3px;
    text-align: center;
    background: #e1e1e1 url(../images/nav-bg.gif) 0 50% repeat-x;
    border-bottom: 1px solid #ddd;
}

.calendar td {
    font-size: 11px;
    text-align: center;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: none;
}

.calendar td.selected a {
    background: #C9DBED;
}

.calendar td.nonday {
    background: #efefef;
}

.calendar td.today a {
    background: #ffc;
}

.calendar td a, .timelist a {
    display: block;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    color: #444;
}

.calendar td a:hover, .timelist a:hover {
    background: #5b80b2;
    color: white;
}

.calendar td a:active, .timelist a:active {
    background: #036;
    color: white;
}

.calendarnav {
    font-size: 10px;
    text-align: center;
    color: #ccc;
    margin: 0;
    padding: 1px 3px;
}

.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover {
    color: #999;
}

.calendar-shortcuts {
    background: white;
    font-size: 10px;
    line-height: 11px;
    border-top: 1px solid #eee;
    padding: 3px 0 4px;
    color: #ccc;
}

.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    background: #C9DBED url(../images/default-bg.gif) bottom left repeat-x;
    padding: 1px 4px 2px 4px;
    color: white;
}
.calendarnav-previous:hover, .calendarnav-next:hover {
    background: #036;
}

.calendarnav-previous {
    top: 0;
    left: 0;
}

.calendarnav-next {
    top: 0;
    right: 0;
}

.calendar-cancel {
    margin: 0 !important;
    padding: 0;
    font-size: 10px;
    background: #e1e1e1 url(../images/nav-bg.gif) 0 50% repeat-x;
    border-top: 1px solid #ddd;
}

.calendar-cancel a {
    padding: 2px;
    color: #999;
}

ul.timelist, .timelist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.timelist a {
    padding: 2px;
}

/* MAINTENANCE MESSAGE */

#maintenance-message {
    overflow-x:hidden;
    margin-bottom:1.5em;
    padding:1.5em;
    display:inline;
    margin-right:0;
    color:red;
    clear:both;
}
