#project_navbar {
    margin-bottom: .5em;
}

.help-text {
    margin-bottom: 2em;
}

.help-text h5 {
    font-weight: bold;
}

.help-text h6 {
    font-style: italic;
    margin-top: 2em;
}

.bold {
    font-weight: bold;
}

.panel-group .panel {
    margin-bottom: 5px
}
