{% extends "nomination/base.html" %}

{% block title %}Nomination Tool: About{% endblock %}

{% block content %}

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">About</h4>
            </div>
            <div class="panel-body">
                The URL Nomination Tool has been designed by the project team and
                developed by the University of North Texas to provide the community
                of subject specialists with a convenient means to contribute information
                on specific sites for a focused crawl. The tool was initially populated
                with URLs (“seeds”) from previous harvests. Using the tool, participants
                may suggest additional URLs, add recommendations for priority, and
                add brief additional information as appropriate. After nomination
                occurs, this new list is used as the crawlers initial list of URLs
                to crawl.
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Request a Project</h4>
            </div>
            <div class="panel-body">
                If you would like to start a Nomination project, please send an email to
                {% include "nomination/contact_info.html" with escaped_subject="New%20nomination%20project" %}
                to initiate the setup process.
            </div>
        </div>
    </div>

{% endblock %}
