{% extends "nomination/base.html" %}

{% load nomination_tags %}

{% block title %}Nomination Tool: Metadata Report{% endblock %}

{% block content %}

    <div class="panel-group">
        {% include "nomination/proj_navbar.html" %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Values for metadata field {{ field|replaceunderscores }}</h4>
            </div>
            <div class="panel-body">
                <p>Select a value below to see its associated URLs.</p>
                <ul class="list-unstyled">
                    {% if not namelist %}
                        {% for name,cnt in valdic %}
                            {% ifnotequal name '' %}
                                <li>
                                    <a href="{% url 'value_report' project.project_slug field name %}">{{ name }}</a> - {{ cnt }} <br />
                                </li>
                            {% endifnotequal %}
                        {% endfor %}
                    {% else %}
                        {% for fullname,cnt,name in namelist %}
                            {% ifnotequal name '' %}
                                <li>
                                    <a href="{% url 'value_report' project.project_slug field name %}">{{ fullname }}</a> - {{ cnt }} <br />
                                </li>
                            {% endifnotequal %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
