{% extends "nomination/base.html" %}

{% block title %}Nomination Tool: {{ field|capfirst }} Report{% endblock %}

{% block content %}

    <div class="panel-group">
        {% include "nomination/proj_navbar.html" %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">{{ field|capfirst }}s:</h4>
            </div>
            <div class="panel-body">
                <p>Select a nominator below to see its associated URLs.</p>
                <ul class="list-unstyled">
                    {% for name,cnt,nomid in valdic %}
                        <li>
                            <a href="{% url 'nominator_url_report' project.project_slug field nomid %}">{{ name }}</a> - {{ cnt }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
