{% extends "nomination/base.html" %}

{% block title %}Nomination Tool: {{ field|capfirst }} Report{% endblock %}

{% block content %}

    <div class="panel-group">
        {% include "nomination/proj_navbar.html" %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">{{ field|capfirst }}s:</h4>
            </div>
            <div class="panel-body">
                Select a nominator below to see its associated URLs.<br>
                {% for name,cnt,nomid in valdic %}
                    <br>
                    <a href="{% url 'nominator_url_report' project.project_slug field nomid %}">{{ name }}</a> - {{ cnt }}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
