{% extends "nomination/base.html" %}

{% load markup %}

{% block title %}Nomination Tool: About Project{% endblock %}

{% block content %}

    <div class="panel-group">
        {% include "nomination/proj_navbar.html" with active_tab='proj_about' %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Project Description</h4>
            </div>
            <div class="panel-body">
                {{ project.project_description|markdown }}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Project Details</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project Name:</span> {{ project.project_name}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project Abbreviation:</span> {{ project.project_slug}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project Starting Date:</span> {{ project.project_start|date:"M d, Y"}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project Ending Date:</span> {{ project.project_end|date:"M d, Y"}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Nomination Starting Date:</span> {{ project.nomination_start|date:"M d, Y"}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Nomination Ending Date:</span> {{ project.nomination_end|date:"M d, Y"}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Number of URLs Nominated:</span> {{ url_count }}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Number of Nominators:</span> {{ nominator_count }}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Admin Name:</span> {{ project.admin_name}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Admin E-mail:</span> {{ project.admin_email}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project URL:</span> {{ project.project_url}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Registration Required for Project:</span> {{ project.registration_required|yesno:"Yes,No" }}
                    </li>
                </ul>
            </div>
        </div>
        {% if show_bookmarklets %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Project Bookmarklet</h4>
                </div>
                <div class="panel-body">
                    <p>
                        A bookmarklet is a brief javascript program that can be stored as a bookmark
                        or favorite in your browser. By following the instructions below you may add
                        a bookmarklet to your toolbar that allows you to easily nominate URLs to
                        this project while you browse the Web.
                    </p>
                    <dl>
                        <dt>Firefox</dt>
                        <dd>
                            If your Bookmarks Toolbar is not visible, navigate to menu View-&gt;Toolbars,
                            and select "Bookmarks Toolbar." Drag this link
                            <a href="javascript:window.open('http://{{current_host}}/nomination/{{project.project_slug}}/url/'+escape(location.href.replace(/\/$/, '')+'/')).focus();">
                                {{project.project_slug}} Nominator
                            </a> to the Bookmarks Toolbar.
                        </dd>
                        <dt>Google Chrome</dt>
                        <dd>
                            If your Bookmarks Bar is not visible, use the keyboard command
                            <kbd>Shift+Ctrl+B</kbd> to make it so, or navigate to menu Tools and select
                            "Always Show Bookmarks Bar." Drag this link
                            <a href="javascript:window.open('http://{{current_host}}/nomination/{{project.project_slug}}/url/'+escape(location.href.replace(/\/$/, '')+'/')).focus();">
                                {{project.project_slug}} Nominator
                            </a> to the Bookmarks Toolbar.
                        </dd>
                        <dt>Internet Explorer</dt>
                        <dd>
                            If your Links Toolbar is not visible, right click on the menu bar and select
                            "Links." Right click on this link
                            <a href="javascript:window.open('http://{{current_host}}/nomination/{{project.project_slug}}/url/'+escape(location.href.replace(/\/$/, '')+'/')).focus();">
                                {{project.project_slug}} Nominator
                            </a>, and select "Add to Favorites..." For the "Create in" field, select
                            "Links" then click "Add."
                        </dd>
                    </dl>
                </div>
            </div>
        {% endif %} 
    </div>

{% endblock %}
