{% extends "nomination/base.html" %}

{% block title %}Nomination Tool{% endblock %}

{% block content %}

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Active Projects</h4>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    {% for project in active_list %}
                        <li>
                            <a href="{% url 'project_urls' project.project_slug %}">
                                {{ project.project_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Past Projects</h4>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    {% for project in past_list %}
                        <li>
                            <a href="{% url 'project_urls' project.project_slug %}">
                                {{ project.project_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Request a Project</h4>
            </div>
            <div class="panel-body">
                <p>
                    If you would like to start a Nomination project, please send an email to
                    {% include "nomination/contact_info.html" with escaped_subject="New%20nomination%20project" %}
                    to initiate the setup process.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
