{% extends "nomination/base.html" %}

{% block title %}Nomination Tool{% endblock %}

{% block content %}

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Active Projects</h4>
            </div>
            <div class="panel-body">
                {% for project in active_list %}
                    <a href="{% url 'project_urls' project.project_slug %}">
                        {{ project.project_name }}
                    </a><br>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Past Projects</h4>
            </div>
            <div class="panel-body">
                {% for project in past_list %}
                    <a href="{% url 'project_urls' project.project_slug %}">
                        {{ project.project_name }}
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Request a Project</h4>
            </div>
            <div class="panel-body">
                If you would like to start a Nomination project, please send an 
                email to lauren.ko@unt.edu to initiate the setup process.
            </div>
        </div>
    </div>

{% endblock %}
