{% extends "nomination/base.html" %}

{% block title %}Nomination Tool: Project URL Nomination{% endblock %}

{% block content %}

    <div class="panel-group">
        {% include "nomination/proj_navbar.html" with active_tab='proj_urls' %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Search</h4>
            </div>
            <div class="panel-body">
                <form method="post" role="form" action="{% url 'url_lookup' project.project_slug %}">{% csrf_token %}
                    <label for="search-url-value">Search by URL</label>
                    <div class="input-group col-md-6">
                        <input type="text" class="form-control" name="search-url-value" id="search-url-value" aria-describedby="help-block" value="http://">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">submit</button>
                        </span>
                    </div>
                    <span class="help-block" id="helpBlock">Search for an existing URL in the system.</span>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="partial-search" value="true">
                            Allow partial matches
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Browse URLs</h4>
            </div>
            <div class="panel-body">
                <a href="{% url 'url_report' project.project_slug  %}" class="btn btn-info">
                    Number of URLs Nominated:
                    <span class="badge">{{ url_count }}</span>
                </a>
                <a href="{% url 'nominator_report' project.project_slug "nominator" %}" class="btn btn-info">
                    Number of Nominators:
                    <span class="badge">{{ nominator_count }}</span>
                </a>
            </div>
            <ul class="list-group">
                {% for top_domain,domain_list in browse_tup %}
                    <li class="list-group-item">
                        <h3>
                            <a href="/nomination/{{ project.project_slug }}/surt/http://({{ top_domain }}/">
                                {{ top_domain }}
                            </a>
                        </h3>
                        <hr>
                        <ul class="list-inline">
                            {% for surt_tuple in domain_list %}
                                {% ifequal surt_tuple.0 "A" %}<br/>{% endifequal %}
                                <li>
                                    {% if surt_tuple.1 %}
                                        <a href="/nomination/{{ project.project_slug }}/surt/{{ surt_tuple.1 }}/">
                                            {{ surt_tuple.0 }}
                                        </a>
                                    {% else %}
                                        {{ surt_tuple.0 }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
