{% extends "nomination/base.html" %}

{% load nomination_tags %}

{% block title %}Nomination Tool: About Project{% endblock %}

{% block content %}

    <div class="panel-group">
        {% include "nomination/proj_navbar.html" with active_tab='proj_about' %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Project Description</h4>
            </div>
            <div class="panel-body">
                {{ project.project_description|render_markdown }}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Project Details</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project Name:</span> {{ project.project_name}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project Abbreviation:</span> {{ project.project_slug}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project Starting Date:</span> {{ project.project_start|date:"M d, Y"}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project Ending Date:</span> {{ project.project_end|date:"M d, Y"}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Nomination Starting Date:</span> {{ project.nomination_start|date:"M d, Y"}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Nomination Ending Date:</span> {{ project.nomination_end|date:"M d, Y"}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Number of URLs Nominated:</span> {{ url_count }}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Number of Nominators:</span> {{ nominator_count }}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Admin Name:</span> {{ project.admin_name}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Admin E-mail:</span> {{ project.admin_email}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Project URL:</span> {{ project.project_url}}
                    </li>
                    <li class="list-group-item col-sm-6">
                        <span class="bold">Registration Required for Project:</span> {{ project.registration_required|yesno:"Yes,No" }}
                    </li>
                </ul>
            </div>
        </div>
        {% if show_bookmarklets %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Project Bookmarklet</h4>
                </div>
                <div class="panel-body">
                    <p>
                        A bookmarklet is a brief JavaScript program that can be stored as a bookmark
                        or favorite in your browser. By following the instructions below you may add
                        a bookmarklet to your toolbar that allows you to easily nominate URLs to
                        this project while you browse the Web.
                    </p>
                    <p>
                        In Chrome, Edge, or Firefox, if your Bookmarks or Favorites Bar is not visible, use the keyboard command
                        <kbd>Shift+Ctrl+B</kbd> to make it so. Then drag this link
                        <a href="javascript:window.open('{{ url_base }}'+escape(location.href.replace(/\/$/, '')+'/')).focus();">{{project.project_slug}} Nominator</a> to the Bookmarks/Favorites Toolbar.
                    </p>
                </div>
            </div>
        {% endif %} 
    </div>

{% endblock %}
