{% extends "nomination/base.html" %}

{% load widget_tweaks %}

{% load staticfiles %}

{% load nomination_tags %}

{% block title %}Nomination Tool: Add/Edit a Site{% endblock %}

{% block localized_styles %}
    {% if form_types|has_value:"select" or form_types|has_value:"selectsingle" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block content %}

    <div class="panel-group">
        {% include "nomination/proj_navbar.html" %}

        {% if url_not_found %}
            <div class="alert alert-warning" role="alert">The requested URL was not in the system.
                {% if not project.nomination_message %}
                    Please nominate this URL.
                {% endif %}
            </div>
        {% endif %}

        {% if not project.nomination_message %}
            {% if form_errors %}
                <div class="alert alert-danger" role="alert">
                    Please resolve the errors indicated below (<span class="required-field">*</span> indicates required fields).
                </div>
            {% endif %}
            {% if summary_list %}
                <div class="alert alert-success" role="alert">
                    Thank you for your nomination.
                    <a href="/nomination/{{ project.project_slug }}/url/{{ url_entity|urlencode }}/" class="alert-link">
                        View metadata entry for {{ url_entity }}.
                    </a>
                </div>
            {% endif %}
        {% endif %}

        {% if not project.nomination_message %}
            <form method="post" action="{% url 'url_add' project.project_slug %}">{% csrf_token %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Capture the Following Site</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            {% if form_errors.url_value %}
                                <div class="alert alert-danger" role="alert">{{ form_errors.url_value|striptags }}</div>
                            {% endif %}
                            <div id="invalidUrlError" class="alert alert-danger hidden" role="alert">Cannot navigate to an invalid URL.</div>
                            <label for="title-value">Website URL: <span class="required-field">*</span></label>
                            <p class="help-block">The URL you wish to nominate for capture</p>
                            <div class="input-group">
                                {{ form.url_value|add_class:"form-control" }}
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="previewUrl">
                                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                {% if metadata_vals %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Metadata</h4>
                        </div>
                        <div class="panel-body">
                            {% for met,vals in metadata_vals %}
                                <div class="form-group">
                                    {% if met.metadata.name in form_errors %}
                                        <div class="alert alert-danger" role="alert">{{ form_errors|get_item:met.metadata.name|striptags }}</div>
                                    {% endif %}
                                    {% ifequal met.required 0 %}
                                        <label for="{{ met.metadata.name }}">{{ met.description }}:</label>
                                    {% else %}
                                        <label for="{{ met.metadata.name }}">{{ met.description }}: <span class="required-field">*</span></label>
                                    {% endifequal %}
                                    {% if met.form_type == "text" %}
                                        <p class="help-block">{{ met.help }}</p>
                                        <input class="form-control" type="text" name="{{ met.metadata.name }}" id="{{ met.metadata.name }}">
                                    {% elif met.form_type == "radio" %}
                                        <p class="help-block">{{ met.help }}</p>
                                        {% for val in vals %}
                                            {% ifnotequal val.key 'other_specify' %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="{{ met.metadata.name }}" value="{{ val.key }}">
                                                        {{ val.value }}
                                                    </label>
                                                </div>
                                            {% else %}
                                                <div class="radio form-inline">
                                                    <label>
                                                        <input type="radio" name="{{ met.metadata.name }}" value="{{ val.key }}">
                                                        {{ val.value }}
                                                    </label>
                                                    <input class="form-control" type="text" name="{{ met.metadata.name }}_other" id="{{ met.metadata.name }}_other" />
                                                </div>
                                            {% endifnotequal %}
                                        {% endfor %}
                                    {% elif met.form_type == "checkbox" %}
                                        <p class="help-block">{{ met.help }}</p>
                                        <input type=button value="Select All" name="{{ met.metadata.name }}" data-check-all="true" data-check-state="select" class="btn btn-default">
                                        {% for val in vals %}
                                            {% ifnotequal val.key 'other_specify' %}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="{{ met.metadata.name }}" value="{{ val.key }}">
                                                        {{ val.value }}
                                                    </label>
                                                </div>
                                            {% else %}
                                                <div class="checkbox form-inline">
                                                    <label>
                                                        <input type="checkbox" name="{{ met.metadata.name }}" value="{{ val.key  }}">
                                                        {{ val.value }}
                                                    </label>
                                                    <input class="form-control" type="text" name="{{ met.metadata.name }}_other" id="{{ met.metadata.name }}_other" />
                                                </div>
                                            {% endifnotequal%}
                                        {% endfor %}
                                    {% elif met.form_type == "select" %}
                                        <p class="help-block">{{ met.help }}</p>
                                        <select multiple size="6" id="{{ met.metadata.name }}" name="{{ met.metadata.name }}">
                                            {% for val in vals %}
                                                <option value="{{ val.key }}">{{ val.value }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elif met.form_type == "selectsingle" %}
                                        <p class="help-block">{{ met.help }}</p>
                                        <select size="6" id="{{ met.metadata.name }}" name="{{ met.metadata.name }}">
                                            {% for val in vals %}
                                                <option value="{{ val.key }}">{{ val.value }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elif met.form_type == "textarea" %}
                                        <p class="help-block">{{ met.help }}</p>
                                        <textarea class="form-control" name="{{ met.metadata.name }}" id="{{ met.metadata.name }}"></textarea>
                                    {% elif met.form_type == "date"  %}
                                        <p class="help-block">{{ met.help }}</p>
                                        <input class="form-control" type="date" id="{{ met.metadata.name }}" name="{{ met.metadata.name }}" value="{{ vals|first }}"/>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Information About You
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            {% if form_errors.nominator_name %}
                                <div class="alert alert-danger" role="alert">{{ form_errors.nominator_name|striptags }}</div>
                            {% endif %}
                            <label for="your-name-value">Your Name:</label>
                            {% if project.registration_required %}
                                <span class="required-field">*</span>
                            {% endif %}
                            <p class="help-block">Please provide your name</p>
                            {{ form.nominator_name|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {% if form_errors.nominator_institution %}
                                <div class="alert alert-danger" role="alert">{{ form_errors.nominator_institution|striptags }}</div>
                            {% endif %}
                            <label for="institution-value">Institution:</label>
                            {% if project.registration_required %}
                                <span class="required-field">*</span>
                            {% endif %}
                            <p class="help-block">Please provide your institutional affiliation</p>
                            {{ form.nominator_institution|add_class:"form-control" }}
                        </div>
                        <div class="form-group">
                            {% if form_errors.nominator_email %}
                                <div class="alert alert-danger" role="alert">{{ form_errors.nominator_email|striptags }}</div>
                            {% endif %}
                            <label for="email-value">Your E-Mail Address:</label>
                            {% if project.registration_required %}
                                <span class="required-field">*</span>
                            {% endif %}
                            <p class="help-block">Please provide an email address in order to identify your nominations in the system</p>
                            {{ form.nominator_email|add_class:"form-control" }}
                        </div>
                        <input type="submit" value="submit" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        {% else %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Add a Site/URL</h4>
                </div>
                <div class="alert alert-warning" role="alert" id="nomination_message_alert">{{ project.nomination_message }}</div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block closing_scripts %}
    {{ block.super }}

    <script src="{% static 'nomination/scripts/vendor/js.cookie.js' %}"></script>
    <script src="{% static 'nomination/scripts/local.js' %}"></script>
    <script src="{% static 'nomination/scripts/vendor/bootstrap3-typeahead.min.js' %}"></script>

    <script>

        {% if form_types %}
            var form_types = {{ form_types|safe }};
        {% else %}
            var form_types = {};
        {% endif %}

        {% if json_data %}
            var json_data = {{ json_data|safe }};
            repopulateForm();
        {% endif %}

    </script>

    {% if not project.nomination_message %}
        <script>

            $(document).ready(function(){
                $('#institution-value').typeahead({
                    source: {{ institutions|safe }}
                });
                initForm();
                focusAddForm();
                bindPreviewURL();
                for (field in form_types){
                    if (form_types[field] == 'select'){
                        new SlimSelect({select: '#' + field});
                    } else if (form_types[field] == 'selectsingle'){
                        new SlimSelect({select: '#' + field, allowDeselect: true});
                    }
                };
            });

        </script>
    {% endif %}

{% endblock closing_scripts %}
