{% extends "nomination/base.html" %}

{% load widget_tweaks %}

{% load staticfiles %}

{% load nomination_tags %}

{% block title %}Nomination Tool{% endblock %}

{% block extra_headers %}

    <script src="{% static 'nomination/scripts/jquery.cookie.pack.js' %}"></script>
    <script src="{% static 'nomination/scripts/core.js' %}"></script>
    <script src="{% static 'nomination/scripts/RelatedObjectLookups.js' %}"></script>

    <script src="{% static 'nomination/scripts/DateTimeShortcuts.js' %}"></script>
    <script src="{% static 'nomination/scripts/calendar.js' %}"></script>

    <link rel="stylesheet" href="{% static 'nomination/styles/jquery-ui.css' %}" type="text/css" media="all" />
    <script src="{% static 'nomination/scripts/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'nomination/scripts/jquery/jquery-ui.min.js' %}"></script>
    <script src="{% static 'nomination/scripts/jquery/jquery.bgiframe-2.1.1.js' %}"></script>
    <script src="{% static 'nomination/scripts/jquery/jquery-ui-i18n.min.js' %}"></script>
    <script src="{% static 'nomination/scripts/nominationform.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="panel-group">
        {% include "nomination/proj_navbar.html" %}

        {% if form_errors %}
            <div class="alert alert-danger" role="alert">Please resolve the errors indicated below.</div>
        {% endif %}

        {% if summary_list %}
            <div class="alert alert-success" role="alert">Thank you for your submission.</div>
        {% endif %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">URL Information</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h4>URL</h4>
                    {{ url_data.entity }} <a href="{{ url_data.entity }}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
                </li>
                <li class="list-group-item">
                    <h4>Domain SURT</h4>
                    <a href="/nomination/{{ project.project_slug }}/surt/{{ url_data.surt }}/">{{ url_data.surt }}</a>
                </li>
                <li class="list-group-item">
                    <h4>Nominations</h4>
                    {{ url_data.nomination_count }}
                </li>
                <li class="list-group-item">
                    <h4>Nomination Score</h4>
                    {{ url_data.nomination_score }}
                </li>
                <li class="list-group-item">
                    <h4>Nominated By</h4>
                    <ul class="list-unstyled">
                        {% for nominator in url_data.nomination_list %}
                            <li>{{ nominator }}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% for name, value_list in url_data.attribute_dict.items %}
                    <li class="list-group-item">
                        <h4>{{ name|capfirst }}</h4>
                        <ul class="list-unstyled">
                            {% for value in value_list %}
                                <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                {% if related_url_list %}
                    <li class="list-group-item">
                        <h4>Related URLs</h4>
                        <ul class="list-unstyled">
                            {% for url_item in related_url_list %}
                                <li>
                                    <a href="/nomination/{{ project.project_slug }}/url/{{ url_item.entity|urlencode }}/">
                                        {{ url_item.entity }}
                                    </a>
                                </li>
                            {% endfor %}
                    </li>
                {% endif %}
            </ul>
        </div>

        {% if not project.nomination_message %}
            <form method="post" action="">{% csrf_token %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Scope of URL</h4>
                    </div>
                    <div class="panel-body">
                        {% if form_errors.scope %}
                            <div class="alert alert-danger" role="alert">{{ form_errors.scope|striptags }}</div>
                        {% endif %}
                        <div class="radio">
                            {{ scope_form.scope }}
                        </div>
                    </div>
                </div>

                {% if metadata_vals %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Metadata</h4>
                        </div>
                        <div class="panel-body">
                            {% for met, vals in metadata_vals %}
                                <div class="form-group">
                                    {% if met.metadata.name in form_errors %}
                                        <div class="alert alert-danger" role="alert">{{ form_errors|get_item:met.metadata.name|striptags }}</div>
                                    {% endif %}
                                    <label for="{{ met.metadata.name }}">{{ met.description }}:</label>
                                    {% if met.form_type == "text" %}
                                        <input class="form-control" type="text" name="{{ met.metadata.name }}" id="{{ met.metadata.name }}" />
                                        <p class="help-block">{{ met.help }}</p>
                                    {% elif met.form_type == "radio" %}
                                        <p class="help-block">{{ met.help }}</p>
                                        {% for val in vals %}
                                            {% ifnotequal val.key 'other_specify' %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="{{ met.metadata.name }}" value="{{ val.key }}">
                                                        {{ val.value }}
                                                    </label>
                                                </div>
                                            {% else %}
                                                <div class="radio form-inline">
                                                    <label>
                                                        <input type="radio" name="{{ met.metadata.name }}" value="{{ val.key }}">
                                                        {{ val.value }}
                                                    </label>
                                                    <input class="form-control" type="text" name="{{ met.metadata.name }}_other" id="{{ met.metadata.name }}_other" />
                                                </div>
                                            {% endifnotequal %}
                                        {% endfor %}
                                    {% elif met.form_type == "checkbox" %}
                                        <p class="help-block">{{ met.help }}</p>
                                        <input type=button value="Select All" name="{{ met.metadata.name }}" onClick="this.value=checkAll(this.name)" class="btn btn-default">
                                        {% for val in vals %}
                                            {% ifnotequal val.key 'other_specify' %}
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="{{ met.metadata.name }}" value="{{ val.key }}">
                                                        {{ val.value }}
                                                    </label>
                                                </div>
                                            {% else %}
                                                <div class="checkbox form-inline">
                                                    <label>
                                                        <input type="checkbox" name="{{ met.metadata.name }}" value="{{ val.key  }}">
                                                        {{ val.value }}
                                                    </label>
                                                    <input class="form-control" type="text" name="{{ met.metadata.name }}_other" id="{{ met.metadata.name }}_other" />
                                                </div>
                                            {% endifnotequal%}
                                        {% endfor %}
                                    {% elif met.form_type == "select" %}
                                        <select class="form-control" multiple size="6" id="{{ met.metadata.name }}" name="{{ met.metadata.name }}">
                                            {% for val in vals %}
                                                <option value="{{ val.key }}">{{ val.value }}</option>
                                            {% endfor %}
                                        </select>
                                        <p class="help-block">{{ met.help }}</p>
                                    {% elif met.form_type == "selectsingle" %}
                                        <select class="form-control" size="6" id="{{ met.metadata.name }}" name="{{ met.metadata.name }}">
                                            {% for val in vals %}
                                                <option value="{{ val.key }}">{{ val.value }}</option>
                                            {% endfor %}
                                        </select>
                                        <p class="help-block">{{ met.help }}</p>
                                    {% elif met.form_type == "textarea" %}
                                        <textarea class="form-control" name="{{ met.metadata.name }}" id="{{ met.metadata.name }}"></textarea>
                                        <p class="help-block">{{ met.help }}</p>
                                    {% elif met.form_type == "date"  %}
                                        <input class="form-control" type="date" id="{{ met.metadata.name }}" name="{{ met.metadata.name }}" />
                                        <p class="help-block">{{ met.help }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Information About You
                            {% if project.registration_required %}
                                <span class="label label-info">Required</span>
                            {% endif %}
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            {% if form_errors.nominator_name %}
                                <div class="alert alert-danger" role="alert">{{ form_errors.nominator_name|striptags }}</div>
                            {% endif %}
                            <label for="your-name-value">Your Name:</label>
                            {{ scope_form.nominator_name|add_class:"form-control" }}
                            <p class="help-block">Please provide your name</p>
                        </div>
                        <div class="form-group">
                            {% if form_errors.nominator_institution %}
                                <div class="alert alert-danger" role="alert">{{ form_errors.nominator_institution|striptags }}</div>
                            {% endif %}
                            <label for="institution-value">Institution:</label>
                            {{ scope_form.nominator_institution|add_class:"form-control" }}
                            <p class="help-block">Please provide your institutional affiliation</p>
                        </div>
                        <div class="form-group">
                            {% if form_errors.nominator_email %}
                                <div class="alert alert-danger" role="alert">{{ form_errors.nominator_email|striptags }}</div>
                            {% endif %}
                            <label for="email-value">Your E-Mail Address:</label>
                            {{ scope_form.nominator_email|add_class:"form-control" }}
                            <p class="help-block">Please provide an email address in order to identify your nominations in the system</p>
                        </div>
                        <input type="submit" value="submit" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        {% endif %}
    </div>

    <script>
        var json_data = {{ json_data|safe }};
        var form_types = {{ form_types|safe }};
    </script>

    <script>
        $(document).ready(initForm);
    </script>

    <script>
        $.noConflict();
        jQuery(document).ready(function($){
            $('#institution-value').autocomplete({
                source: {{ institutions|safe }},
                delay: 0,
            });
        });
    </script>

    {% if json_data %}
        <script>
            repopulateForm();
        </script>
    {% endif %}

{% endblock %}
