{% extends "nomination/index.html" %}
{% block title %}Nomination Tool{% endblock %}
{% block main_nav %}{% endblock %}
{% block content %}
<div class="field-wrapper">
{% if url_list %}
    {% if letter %}
        <span><b>Browse URLs that begin with {{ letter|capfirst }}</b></span><br/><br/>
    {% endif %}
    {% if browse_domain %}
    <h2>Browse
        <a href="/nomination/{{ project.project_slug }}/surt/http://({{ browse_domain }}/">
            {{ browse_domain }}
        </a> URLs
    </h2>
    <div class="browse">
    {% for top_domain,domain_list in browse_dict.items %}
        {% ifequal browse_domain top_domain %}
        <ul>
            {% for surt_tuple in domain_list %}
                {% ifequal surt_tuple.0 "A" %}<br/>{% endifequal %}
                    <li>
                        {% if surt_tuple.1 %}
                            <a href="/nomination/{{ project.project_slug }}/surt/{{ surt_tuple.1 }}/">
                                {{ surt_tuple.0 }}
                            </a>
                        {% else %}
                            {{ surt_tuple.0 }}
                        {% endif %}
                    </li>
            {% endfor %}
        </ul>
        {% endifequal %}
    {% endfor %}
    </div>
    {% endif %}
    <h2>URL</h2>
    {% for url_item in url_list %}
        <a href="/nomination/{{ project.project_slug }}/url/{{ url_item.entity|urlencode }}/">{{ url_item.entity }}</a><br/>
    {% endfor %}
{% else %}
    Didn't find a SURT you were looking for? <a href="/nomination/{{ project.project_slug }}/add/">Add a URL</a>
{% endif %}
</div>
{% endblock %}
